# Python cache and build
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.env/
*.sqlite3
*.bin
# IDE configs
.vscode/
.idea/

# Ignore all generated data
servicesdata_cleaning/outputs/
*.csv
*.json
*.pkl
*.parquet
*.db


#db
/Users/sumanthg/Documents/sug/projects/Intelligent-investement-platform/Backend/services/db/

# OS files
.DS_Store
Thumbs.db

*.pickle
