# Python cache and build
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.env/

# IDE configs
.vscode/
.idea/

# Ignore all generated data
servicesdata_cleaning/outputs/
*.csv
*.json
*.pkl
*.parquet
*.db


#db
db/chromadb/

# OS files
.DS_Store
Thumbs.db
